<!DOCTYPE html>

<html>
<head>
    <title> Project World </title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" href="stylesheets/main.css">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC82ktM_T7U5hImcMmjYLbaNhXrp6g9uhY&sensor=false&v=3&libraries=geometry"></script>

    <script data-main="/javascripts/main" src="/javascripts/vendor/require.js"></script>
</head>
<body>
    <div id="loading-animation" class="icon-spinner icon-spin"></div>           
    
    <header class="header">
        <div class="container-fluid">
            <a id="fb-login-button" class="login button" data-bind="visible : loginStatus() === false, click : login">
                <span class="icon-facebook-sign"></span>Login</a>
            <div id="logged-in-container" class="clearfix" data-bind="visible : loginStatus, click: logout">
                <a id="local-map" class="icon icon-home button has-tooltip"></a>
                <a id="global-map" class="icon icon-globe button has-tooltip"></a>
                <a id="fb-logout-button" class="login button" >Logout</a>
            </div>
        </div>
    </header>
    <div id="main-container" class="container-fluid">
        <div id="map-panel-container">
            <div id="map-panel" class="panel"></div>
        </div>
        <ul id="friends-list" data-bind="foreach : selectedLocationFriends">
            <li data-bind="text : name"></li>
        </ul>

    </div>
    <div id="fb-root"></div>
</body>
</html>
