<!DOCTYPE html>

<html>
<head>
    <title> Project World </title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable = no" />

		
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/slide-menu.css">
    <link href='http://fonts.googleapis.com/css?family=Felipa' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC82ktM_T7U5hImcMmjYLbaNhXrp6g9uhY&sensor=false&v=3&libraries=geometry"></script>

    <script data-main="/javascripts/main" src="/javascripts/vendor/require.js"></script>
</head>
<body>
    <nav id="slide-menu-left" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
        <h3><span data-bind="text : currentLocation"></span> <span class="icon-remove close-button" data-bind="click : closeLeftMenu"></span></h3>
<!--         <div class="action-link-container">
            <span data-bind="click: sendMessageToSelected" class="message-link icon-envelope-alt icon-4x"></span>
            <span data-bind="click: sendMessageToSelected" class="plane-link icon-plane icon-4x"></span>
        </div> -->
        <div id="left-scroll-wrapper">
          <ul id="friends-list" class="menu-list" data-bind="foreach : selectedLocationFriends">
            <li class="clearfix">
                <img data-bind="attr : { src : 'https://graph.facebook.com/'+uid+'/picture'}" width=56 height=56/>
                <div class="friend-information">
                    <span data-bind="text : name"></span>
                </div>  
                <span data-bind="click : $root.toggleFriendSelect" class="select-friend icon-ok-circle"></span>  
            </li>
         </ul> 
         </div>
    </nav>       
    
    <nav id="slide-menu-right" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
        <h3><span class="icon-remove close-button" data-bind="click : closeRightMenu"></span></h3>
        <div id="user-info">
            <img data-bind="attr : { src : 'https://graph.facebook.com/'+myId()+'/picture'}" width=35 height=35/>
            <span class="name" data-bind="text : myName"></span>
        </div>
        <div id="right-scroll-wrapper">
          <ul id="navigation-list" class="menu-list">
            <li><span class="icon-lightbulb icon-2x"></span><span class="menu-option">Notifications</span></li>
            <li><span class="icon-cog icon-2x"></span><span class="menu-option">Settings</span></li>
            <li data-bind="click : logout"><span class="icon-facebook-sign icon-2x"></span><span class="menu-option">Logout</span></li>
         </ul> 
         </div>
    </nav>  


    <header class="header">
        <div class="container-fluid">
            <a id="menu-button" class="icon-reorder icon-2x" data-bind="click : openRightMenu"></a>
        </div>
    </header>
    <div id="main-container" class="container-fluid">
        <div id="map-panel-container">
            <div id="map-panel"></div>
        </div>
    </div>

    <div id="welcome-screen" class="modal hide fade" aria-hidden="true" data-backdrop="static">
        <div class="content">
            <h3> Project World </h3>
            <span class="icon-globe"></span>
            <a data-bind="click : login">
                <img src="/img/facebook-login-button.png">
            </a>
        </div>
    </div>

    <div id="fb-root"></div>
</body>
</html>
