body{
    padding: 0 !important;
    overflow: hidden;
}

#main-container.container-fluid{
    padding: 0;
}

#loading-animation{
    position: absolute;
    top: 35%;
    left: 48%;
    font-size: 1000%;
    z-index: 100;
    display: none;
}

.panel{
    background-color: white;
}

.panel h3{
    text-align: center;
}

#map-panel-container{
    height: 800px;
    margin: 0;
    width: 100%;
}

#map-panel{
    width:100%;
    height: 100%;
    margin: 0;
    float:left;
}

/** Top Bar header **/
.header{
    background-color: #3b5998;
}

.header .button{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    font-weight: bolder;
    font-size: 130%;
    padding: 10px;
}

.header .container{
    height: 40px;
}

.header .login.button{
    float: right;
    line-height: 26px;
}

.header #fb-logout-button{
    float: right;
}

.header .button.icon{
    padding: 5px 10px 5px 10px;
    float:left;
    font-size: 200%;
    font-weight: normal;;
}

#fb-login-button span{
    display: block;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
}

#scroll-wrapper{
    height: 800px;
    position: relative;
}

#friends-list{
    margin: 0;
}

#friends-list li {
 padding: 10px;
 border-bottom: 2px solid #3b5998;
 width: 100%;
}

#friends-list li img{
    float: left;
    height: 56px;
    width: 56px;   
}

#friends-list .friend-information{
    float: left;
    font-size: 1.4em;
    padding: 4px;
    margin: 0;
    font-weight: 300;
    max-width: 200px;
}